<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <!-- <h1>🥦 {{message}} 🌽</h1> -->
            <figure class="card">
                <form action="" class="search-form" method="GET">
                    <button class="search-btn">Search</button>
                    <input type="text" name="q" />
                </form>
            </figure>
        </div>
    </body>
</html>
